$mobile-breakpoint: 320px;
$mobile-max-breakpoint: 340px;
$mobile-large-breakpoint: 420px;
$mobile-xlarge-breakpoint: 539px;
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1023px;
$desktop-1124px: 1124px;
$desktop-1280px: 1280px;

@mixin mobile {
    @media screen and (min-width: #{$mobile-breakpoint}) {
        @content;
    }
}
@mixin mobile-max{
    @media screen and (max-width: #{$mobile-max-breakpoint}) {
        @content;
    }
}
@mixin mobile-large{
    @media screen and (min-width: #{$mobile-large-breakpoint}) {
        @content;
    }
}
@mixin mobile-xlarge{
    @media screen and (min-width: #{$mobile-xlarge-breakpoint}) {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: #{$tablet-breakpoint}) {
        @content;
    }
}

@mixin tablet-max {
    @media screen and (max-width: #{$tablet-breakpoint}) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: #{$desktop-breakpoint}) {
        @content;
    }
}
@mixin desktop-large{
    @media screen and (min-width: #{$desktop-1124px}) {
        @content;
    }
}
@mixin desktop-xlarge{
    @media screen and (min-width: #{$desktop-1280px}) {
        @content;
    }
}