$colPrime: #CF8048;
$colSec: #D5B495;
$colThird: #1F1F1F;
$colFourth:#678C30;
$colBg: #F0F3F4;
$colWhite:#FFFFFF;
$colBlack:#000000;

@function changeOpacity($color, $opacity){
  @return rgba($color, $opacity);
}

@mixin changeColorPng ($color){
  filter: drop-shadow(0 100px 0 $color);
  transform: translateY(-100px);
}

@mixin transitionFast{
  transition: all ease-in-out 0.3s;
}
@mixin btnStyle($colBag:$colPrime,$colFont:$colBg){
  outline: none;
  border: none;
  background-color: $colBag;
  color: $colFont;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  padding-block: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  @include transitionFast;
  &:hover{
    transform: scale(1.05) translateY(-0.2rem);
  }
  &:disabled{
    transform: none;
    opacity: 0.7;
  }
}
