/* Importación de la configuración de los estilos */
@import "/src/app/stylesConfig/stylesConfig.scss";

/* Tomé algunos estilos de app-create-list los modifiqué en este archivo */
:host {
  display: block;
  flex-grow: 2;
}

.section {
  padding: 7rem 0 2rem;
}

/* formulario para crear recetas */
.form {
  background-color: $colBg;
  padding: 2rem 0.25rem;
  border-radius: 0.5rem;
  text-align: center;
  color: $colBlack;

  /* titulo de formulari */
  h2 {
    font-size: 1.5rem;
    margin-bottom: 4rem;

    @media screen and (min-width: 1000px) {
      font-size: 2rem;
    }
  }
}

/* estilos de cada campo */
.field {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid black;
  border-radius: 0.5rem;
  background-color: white;
  margin-bottom: 1rem;
  transition: border 0.3s ease-in-out;

  &:focus-within {
    border: solid $colPrime 2px;
  }

  /* etiquetas de los campos */
  .label {
    position: absolute;
    top: 0px;
    left: 1rem;
    transform: translateY(-50%);
    background-color: white;
    padding-inline: 0.25rem;
    border-radius: 0.2rem;
  }

  /* estilos de los inputs (ingreso de texto) */
  .input {
    border-radius: 0.5rem;
    border: none;
    outline: none;
    padding-block: 0.75rem;
    padding-left: 0.5rem;
    @include transitionFast;

    /*-------------------------borrando estilos del autocompletado */
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
      /* Ajusta el color de fondo según tus necesidades */
      -webkit-text-fill-color: inherit !important;
      caret-color: $colThird;
    }
  }

  /* estilo del textarea */
  textarea {
    border: none;
    resize: none;
    border-radius: 0.5rem;
    height: 100px;
    width: 100%;
    padding-block: 0.75rem;
    padding-left: 0.5rem;
    outline: none;
  }
}

/* boton crear receta (boton flotante en pantallas pequeñas) */
.boton-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  /* Asegura que el botón esté sobre otros elementos */
}

/* div que contiene el boton de crear receta */
.btnCrearReceta {
  border-radius: 50%;
  width: auto;
  min-height: 90px;
}

/* estilos de los botones */
button {
  background-color: $colFourth;
  color: $colWhite;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.75);
  border: none;
  padding: 10px 20px;
  margin-bottom: 1rem;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  transform: scale(1.05) translateY(-0.2rem);
}

button:focus {
  outline: none;
}

h4 {
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.itemI {
  display: flex;
  align-items: center;
}

.btnBorrar-x {
  width: 1em;
  height: 1em;
  margin-right: 20px;
  background-color: $colWhite;
  flex-grow: 1;
  box-shadow: none;
  border-radius: 100%;
  padding: 0;
}

.procedimiento {
  text-align: justify;
}

/* ************************************************************************************************* */
/* ************************************* MEDIA QUERY *********************************************** */
/* ************************************************************************************************* */
@media screen and (min-width: 650px) {
  :host {
    padding: 2rem 10vw;
  }

  /* estilos del form */
  .form {
    padding-inline: 5vw;
  }

  /* los campos para colocar nombre de la receta, categoria, url de la imagen, porciones y tiempo de coccion  */
  .primerosCampos {
    display: flex;
    flex-wrap: wrap;
  }

  .camposReceta {
    flex-grow: 2;
  }

  /* estilos del boton crear receta */
  .boton-flotante {
    flex-grow: 1;
    position: static;
    bottom: 0;
    right: 0;
    z-index: 0 !important;

    /* en pantallas grandes, el boton flotante se coloca junto a los campos de receta */
    .btnCrearReceta {
      border-radius: 5%;
      padding: 50px;
      font-size: 1.5rem;
    }
  }

  /* coloca estos campos uno al lado del otro cuando es pantalla grande*/
  .nombreycategoria,
  .porcionesycoccion {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }

  .nombrereceta {
    flex-grow: 1;
  }

  .categoria {
    flex-grow: 1;
  }

  .porciones {
    flex-grow: 1;
  }

  .coccion {
    flex-grow: 1;
  }

  /* estilos para que ambos formularios se ubique uno al lado del otro */
  .ingredientesypreparacion {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
  }

  .camposIngredientes {
    flex-grow: 1;

    .ingredientes,
    .cantidad {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

  .camposPreparacion {
    flex-grow: 2;
  }

}