<section class=" section about">
    <div class="about__container container">
        <h3 class="section__title">Sobre <span>Nosotros</span></h3>
        <div class="about__wrap grid">
            <div class="about__wrap--info">
                <p class="about__wrap--info__text">Lorem ipsum dolor sit amet consectetur. Mattis tincidunt fermentum neque in. Tincidunt sit lectus
                    nisl vel ornare in nec ut adipiscing. Eu auctor netus neque id bibendum volutpat. Libero dictum orci
                    mauris amet turpis magna facilisis. Morbi in sapien scelerisque volutpat amet
                    elementum in ut dictum. Gravida pulvinar facilisi fusce at rhoncus non eget in. In quis ullamcorper
                    quis lacinia quis nunc lorem sed dictum. Sollicitudin nunc amet viverra dictum odio. Lobortis
                    venenatis senectus amet tempor sed dui interdum. Nibh vitae sit sed tellus vel massa. Volutpat amet
                    eget morbi scelerisque elit mattis morbi. Sed pellentesque diam lobortis lectus consequat eget nisl
                    ante.</p>
                <button type="submit" class="about__wrap--info__button">Iniciar</button>
            </div>
            <div class="about__wrap--images">
                <img src="../../../../../assets/nosotros1.png" alt="nosotros1" class="about__wrap--images__one">
                <img src="../../../../../assets/nosotros2.png" alt="nosotros2" class="about__wrap--images__two">
            </div>
        </div>
    </div>
</section>