<footer class="footer container">
    <div class="footer__wrap">
        <div class="footer__wrap--logo">
            <img src="../../../assets/icons/logo-black.svg" alt="Logo FoodieList">
            <!-- <p class="footer__wrap--text">FoodieList</p> -->
        </div>
        <div class="footer__menu">
            <ul class="footer__menu--list">
                <li class="footer__menu--items">
                    <p>Para cocineros</p>
                </li>
                <li class="footer__menu--items">
                    <p>Para principiantes</p>
                </li>
                <li class="footer__menu--items">
                    <p>Inspiración</p>
                </li>
                <li class="footer__menu--items">
                    <p>Recetas</p>
                </li>
                <li class="footer__menu--items">
                    <p>Cocina profesional</p>
                </li>
            </ul>
        </div>
        <div clasS="footer__social">
            <ul class="footer__social--list">
                <li class="footer__social--items">
                    <img src="../../../assets/icons/facebook.svg" alt="facebook" title="Facebook">
                </li>
                <li class="footer__social--items">
                    <img src="../../../assets/icons/instagram.svg" alt="instagram" title="Instagram">
                </li>
                <li class="footer__social--items">
                    <img src="../../../assets/icons/twitter.svg" alt="X" title="X">
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>© FoodieList todos los derechos reservados.</p>
    </div>
</footer>