<div class="boxTitle">
  <h2>Mis Listas</h2>
</div>
<div class="currentList">
  <h3>Lista 06/06/06</h3>
  <ul class="currentList__recipeList">
    <li>Olluquito con charqui</li>
    <li>Olluquito con charqui</li>
    <li>Olluquito con charqui</li>
    <li>Olluquito con charqui</li>
    <li>Olluquito con charqui</li>
    <li>Olluquito con charqui</li>
    <li>Olluquito con charqui</li>
  </ul>
  <div class="currentList__ingredientList">
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
  </div>
  <div class="currentList__commentBox">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur corrupti perspiciatis repellat? Vel deleniti repudiandae ad et amet sint, veritatis quasi aut alias, est corrupti, dolorem deserunt voluptatem consequatur. Dolorum. </p>
  </div>
  <div class="currentList__btns">
    <button class="btnDelete">Eliminar Lista</button>
    <button class="btnExport">
      <img src="assets/icon-export.svg" alt="export-icon">
      <span>Exportar</span>
    </button>
  </div>
</div>
<div class="lists">
  <app-list-card></app-list-card>
  <app-list-card></app-list-card>
  <app-list-card></app-list-card>
  <app-list-card></app-list-card>
  <app-list-card></app-list-card>
  <app-list-card></app-list-card>
  <app-list-card></app-list-card>
</div>
