<section class="section">
  <form class="form">
    <h2>Lista de Ingredientes</h2>
    <div class="form__newField">
      <button type="button">
        <img src="assets/add-icon.svg" alt="add-icon">
      </button>
      <input type="text" placeholder="Nuevo Ingrediente">
    </div>
    <div class="form__list">
      <app-list-edit></app-list-edit>
      <app-list-edit></app-list-edit>
      <app-list-edit></app-list-edit>
      <app-list-edit></app-list-edit>
      <app-list-edit></app-list-edit>
      <app-list-edit></app-list-edit>
      <app-list-edit></app-list-edit>
    </div>
    <textarea
    rows="10"
    placeholder="Escribe tu comentario aquí."></textarea>
    <div class="form__actions">
      <button>Guardar Lista</button>
    </div>
  </form>

</section>
