<!-- Contenedor de las dos cajas -->
<div class="contenedor_user">
  <!-- Caja 1 -->
  <div class="caja-1">
    <div class="bienvenida">
      <h1 class="titulo_foodielist">Foodie List</h1>
      <h3 class="slogan">
        Despierta tus sentidos, comparte tus sabores.
      </h3>
      <div class="button">
        <button type="button" routerLink="/mylist">Empezar</button>
      </div>
    </div>
  </div>

  <!-- Caja 2 -->
  <div class="caja-2">
    <div class="usuario">
      <!-- Photo de perfil -->
      <div class="circulo">
        <div
          class="foto_cover"
          [style.background-image]="'url(' + imageUrl + ')'"
        >
          <img class="foto" [src]="imageUrl" (error)="onImageError()" />
          <div class="error_foto" *ngIf="imageError">
            {{ username.charAt(0) }}
          </div>
        </div>
      </div>
    </div>

    <div class="formulario_user">
      <div class="botones_cuenta">
        <div class="btn_div1">
          <button type="button" class="btnLogout" >Cerrar sesión</button>
        </div>
        <div class="btn_div2">
          <button type="button" class="btnDelAccount">Eliminar cuenta</button>
        </div>
      </div>
      <form class="form" [formGroup]="userForm">
        <div class="form__box">

            <!-- ------------------------------------------campo nombre -->
           <div class="inputs">
            <div class="campo">
              <div
                [ngClass]="invalidateField('username') ? 'errorField' : ''"
                class="form__box__field"
              >
                <label for="username">Nombre</label>
                <input
                  id="username"
                  name="username"
                  type="text"
                  formControlName="username"
                  placeholder="Ingresa tu nombre de usuario"
                />
              </div>

              <div class="form__box__validateMessage">
                <span *ngIf="invalidateField('username')">
                  {{ validationFieldMessage("username") }}
                </span>
              </div>
            </div>
            <!-- Botones edicion -->
            <div class="botones_edicion">
              <div class="btn_div_edit">
                <button type="button" class="btnEdit">
                  <img src="assets/icons/edit.svg" alt="Edit" class="btnIconEdit invertir-color-svg" />
                </button>
              </div>
              <div class="btn_div_save">
                <button type="button" class="btnSave">
                  <img src="assets/save.svg" alt="Save" class="btnIconSave invertir-color-svg"/>
                </button>
              </div>
            </div>
            <!-- fin botones edicion -->
          </div>
          <!-- -------------------------------------------------campo email -->
          <div class="inputs">
            <div class="campo">
              <div
                [ngClass]="invalidateField('email') ? 'errorField' : ''"
                class="form__box__field"
              >
                <label for="email">Correo</label>
                <input
                  id="email"
                  name="email"
                  type="email"
                  formControlName="email"
                  placeholder="Ingresa tu correo electronico"
                />
              </div>

              <div class="form__box__validateMessage">
                <span *ngIf="invalidateField('email')">
                  {{ validationFieldMessage("email") }}
                </span>
              </div>
            </div>
            <!-- Botones edicion -->
            <div class="botones_edicion">
              <div class="btn_div_edit">
                <button type="button" class="btnEdit">
                  <img src="assets/icons/edit.svg" alt="Edit" class="btnIconEdit invertir-color-svg" />
                </button>
              </div>
              <div class="btn_div_save">
                <button type="button" class="btnSave">
                  <img src="assets/save.svg" alt="Save" class="btnIconSave invertir-color-svg" />
                </button>
              </div>
            </div>
            <!-- fin botones edicion -->
          </div>
          <!-- -----------------------------------------campo contraseña -->
          <div class="inputs">
            <div class="campo">
              <div
                [ngClass]="invalidateField('password') ? 'errorField' : ''"
                class="form__box__field"
              >
                <label for="pass">Contraseña</label>
                <div class="form__box__field__inputPass">
                  <input
                    id="pass"
                    name="pass"
                    [type]="showPass ? 'text' : 'password'"
                    formControlName="password"
                    placeholder="Ingresa tu contraseña"
                  />
                  <button
                    (click)="showPass = !showPass"
                    type="button"
                    class="eyeBtn"
                  >
                    <img
                      class="eyeBtn__eye"
                      [src]="
                        showPass ? 'assets/eye.svg' : 'assets/eye-slash.svg'
                      "
                      alt="eye_icon"
                    />
                  </button>
                </div>
              </div>

              <div class="form__box__validateMessage">
                <span *ngIf="invalidateField('password')">
                  {{ validationFieldMessage("password") }}
                </span>
              </div>
            </div>
            <!-- Botones edicion -->
            <div class="botones_edicion">
              <div class="btn_div_edit">
                <button type="button" class="btnEdit">
                  <img src="assets/icons/edit.svg" alt="Edit" class="btnIconEdit invertir-color-svg" />
                </button>
              </div>
              <div class="btn_div_save">
                <button type="button" class="btnSave">
                  <img src="assets/save.svg" alt="Save" class="btnIconSave invertir-color-svg" />
                </button>
              </div>
            </div>
            <!-- fin botones edicion -->
          </div>
          <!-- -------------------------campo repetir contraseña -->
<div class="repetir_pass">
            <div
              [ngClass]="invalidateField('repeatPassword') ? 'errorField' : ''"
              class="form__box__field"
            >
              <label for="repeatPass">Repetir Contraseña</label>
              <div class="form__box__field__inputPass">
                <input
                  id="repeatPass"
                  name="repeatPass"
                  [type]="showRepeatPass ? 'text' : 'password'"
                  formControlName="repeatPassword"
                  placeholder="Repite tu contraseña"
                />
                <button
                  (click)="showRepeatPass = !showRepeatPass"
                  type="button"
                  class="eyeBtn"
                >
                  <img
                    class="eyeBtn__eye"
                    [src]="
                      showRepeatPass ? 'assets/eye.svg' : 'assets/eye-slash.svg'
                    "
                    alt="eye_icon"
                  />
                </button>
              </div>
            </div>
          </div>
          <!-- finrepetir_pass -->
            <div class="form__box__validateMessage">
              <span *ngIf="invalidateField('repeatPassword')">
                {{ validationFieldMessage("repeatPassword") }}
              </span>
            </div>

            <!--       <div class="form__box__btn">
        <button
        [disabled]="registForm.invalid"
        type="submit">Registrarme</button>
      </div> -->
            <!-- link de redireccion a login -->
            <!-- <p class="form__box__toLogin">Ya tienes una cuenta
        <a routerLink="/login">Ingresa aqu&iacute;</a></p> -->

        </div>
      </form>
    </div>
  </div>
</div>
