/*Importación de los estilos globales*/
@import "../../stylesConfig/stylesConfig.scss";

@mixin transitionSlow {
  transition: all 0.4s ease-in-out;
}

:host {
  overflow-x: hidden;
}

/* Estilos para el contenedor padre con flexbox */
.contenedor_user {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  min-height: 100%;
}

/* Estilos para las dos cajas */
.caja-1,
.caja-2 {
  flex: 1 1 0px; /* Esto hace que ambas cajas tengan la misma anchura */
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
  padding: 10px;

  border: 1px solid black; /* borde BORRAR*/
}

/* Estilos para caja 1 */
.caja-1 {
  background: linear-gradient(rgba(50, 50, 50, 0.4), rgba(50, 50, 50, 0.4)),
    url("/assets/tableWallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 1.5rem;
}

.caja-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .circulo {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: $colPrime;
    @include transitionSlow();

    .foto_cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-size: cover;
    }

    .foto {
      display: none;
    }

    .error_foto {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 50px;
    }
  }

  /* Formulario */
  .formulario_user {
    /* Estilos del cuadrado donde están los inputs y los botones */
    text-align: center;
    padding: 5rem 1rem 3rem 1rem;
    margin-top: 1.5rem;
    border-radius: 1rem;

    .form__box {
      /* Reutilizado del Register */

      display: flex;
      flex-direction: column;
      /*---------------------------------------- estilos input */
      &__field {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 100%;
        position: relative;
        border: 2px solid $colThird;
        border-radius: 0.5rem;
        background-color: white;
        margin-bottom: 1rem;
        transition: border 0.3s ease-in-out;
        &:focus-within {
          border: solid $colPrime 2px;
        }
        /* -----------------------------------inputs tipo password */
        &__inputPass {
          display: flex;
          input {
            flex-grow: 2;
          }
          .eyeBtn {
            border: none;
            background-color: white;
            border-radius: 50%;
            cursor: pointer;
            margin-right: 0.5rem;
            @include transitionFast;
            &__eye {
              width: 2rem;
              aspect-ratio: 1/1;
            }
            &:hover {
              background-color: $colBg;
            }
          }
        }
        label {
          position: absolute;
          top: 0px;
          left: 1rem;
          transform: translateY(-50%);
          background-color: white;
          padding-inline: 0.25rem;
          border-radius: 0.2rem;
        }
        input {
          border-radius: 0.5rem;
          border: none;
          outline: none;
          padding-block: 0.75rem;
          padding-left: 0.5rem;
          @include transitionFast;
          /*-------------------------borrando estilos del autocompletado */
          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px white inset !important; /* Ajusta el color de fondo según tus necesidades */
            -webkit-text-fill-color: inherit !important;
            caret-color: $colThird;
          }
        }
      }
      /*---------------------------------- estilos de validacion */
      .errorField {
        border: solid 2px red;
        margin-bottom: 0;
      }
      &__validateMessage > span {
        display: block;
        padding-left: 0.5rem;
        margin-bottom: 1rem;
        color: rgb(200, 0, 0);
      }
      &__fieldCheck {
        margin-bottom: 1rem;
        align-self: flex-end;
      }

      /* formulario */
      .inputs {
        display: flex;
        flex-direction: row;
        border: 1px solid black; /* borde BORRAR*/
      }

      .campo {
        flex-grow: 2;

      }

      /* botones de edicion */
      .botones_edicion {
        display: flex;
        float:right;
        flex-grow: 1;

        padding-right: 0;
      }
    }
  }
}

/* Media Queries */
@media screen and (max-width: 650px) {
  :host {
    min-width: 100%;
  }
  .caja-1 {
    display: none;
  }
  .caja-2 {
    background: linear-gradient(rgba(50, 50, 50, 0.4), rgba(50, 50, 50, 0.4)),
      url("/assets/tableWallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 1rem;
    .circulo {
      background-color: rgba(217, 217, 217, 0.65);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
    .formulario_user {
      background-color: rgba(217, 217, 217, 0.65);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
    .inputs {
      position: relative;
      justify-content: space-between;


    }
    .campo {
      margin-top: 2rem;

      position: relative; /* Asegura que el input sea un elemento relativo */
      z-index: 1
    }
    .botones_edicion {
      position: absolute;

      top: 0;
      right: 20;
      z-index: 2;


    }
  }
}
