@import '/src/app/stylesConfig/stylesConfig.scss';
:host{
  display: flex;
  width: 100%;
  gap: 0.5rem;
  align-items: center;
  border-radius: 0.5rem;
  border: solid 1px changeOpacity($colThird, .5);
  overflow: hidden;
}
.profile{
  background-color: $colFourth;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 50%;
  color: white;
  display: grid;
  place-items: center;
  margin-left: 1rem;
}
.info{
  font-size: 12px;
  flex-grow: 2;
  line-height: 1.2rem;
  &__title{font-weight: bold;}
  &__author{font-size: 10px;}
}
.picture{
  display: flex;
  img{
    width: 2.5rem;
    aspect-ratio: 1;
  }
}
