@import '/src/app/stylesConfig/stylesConfig.scss';

// :host {
//   display: flex;
//   width: 100%;
//   gap: 0.5rem;
//   align-items: center;
//   border-radius: 0.5rem;
//   border: solid 1px changeOpacity($colThird, .5);
//   overflow: hidden;
// }

.favorites {
  background-color: $colBg;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  &__aside {
    display: flex;
    align-items: center;
    gap: 0.9375rem;

    &--user{
      background-color: $colFourth;
      aspect-ratio: 1;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: $colWhite;
      display: grid;
      place-items: center;
      margin-left: 0.9375rem;
    }
  }


  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;

    // line-height: 1.2rem;
    &--title {
      font-weight: 500;
      font-size: 14px;
    }

    &--author {
      font-size: 12px;
      color: #9C9C9C;
    }
  }

  &__img {
    border-radius: 0px 10px 10px 0px;
    width: 68px;
    height: 61px;
    object-fit: cover;
  }
}