<div class="container">
<div class="recipes">
  <h3>Selecciona los ingredientes</h3>
  <div class="recipes__dropdown">
    <span>Recetas:</span>
    <select>
      <option value="#">Olluquito con charqui</option>
      <option value="#">Mazamorra con tocosh</option>
      <option value="#">Parihuela</option>
      <option value="#">Chupe de camaron</option>
      <option value="#">Parrilada triple</option>
      <option value="#">Sopa Wantan</option>
    </select>
  </div>
</div>
<div class="list">
  <app-item-list [isCheck]="true"></app-item-list>
  <app-item-list [isCheck]="true"></app-item-list>
  <app-item-list [isCheck]="true"></app-item-list>
  <app-item-list [isCheck]="true"></app-item-list>
  <app-item-list [isCheck]="true"></app-item-list>
  <app-item-list [isCheck]="true"></app-item-list>
  <app-item-list [isCheck]="true"></app-item-list>
  <app-item-list [isCheck]="true"></app-item-list>
  <app-item-list [isCheck]="true"></app-item-list>
</div>
<div class="actions">
  <img src="assets/tableWallpaper.jpg" alt="recipe-picture">
  <p>Revisaste todas las listas? pincha aquí para general la lista total de ingredientes.</p>
  <button
  type="button"
  (click)="toIngredients()"
  >Generar Lista</button>
</div>
</div>
