<div class="main">
  <img src="assets/tableWallpaper.jpg" alt="recipe-picture">
  <div class="main__info">
    <div class="main__info__header">
      <p>Olluquito con charqui</p>
      <div class="main__info__header__like">
        <img src="assets/like-icon.svg" alt="like-icon">
        <span>200</span>
      </div>
    </div>
    <div class="main__info__time">
      <img src="assets/time-icon.svg" alt="time-icon">
      <span>20 Min</span>
    </div>
  </div>
</div>
<div class="footer">
  <p>{{"juanito alimaña con mucha maña" | shortenString |titlecase}}</p>
  <button
  (click)="toDetail()"
  class="footer__detailBtn"> Preparaci&oacute;n</button>
  <!-- <button class="actions__import"> Importar </button> -->
</div>
