<section class="section categories">
    <div class="categories__container container">
        <h3 class="section__title">Nuestras <span>Categorias</span></h3>
       <div class="categories__content">
            <div class="categories__content--types">
                <img src="../../../../../assets/icons/ensalada.webp" alt="">
                <p>Ensaladas</p>
            </div>
            <div class="categories__content--types">
                <img src="../../../../../assets/icons/reposteria.webp" alt="">
                <p>Repostería</p>
            </div>
            <div class="categories__content--types">
                <img src="../../../../../assets/icons/bebidas.webp" alt="">
                <p>Bebidas frias <br> y calientes</p>
            </div>
            <div class="categories__content--types">
                <img src="../../../../../assets/icons/platos-de-fondo.webp" alt="">
                <p>Platos de fondo</p>
            </div>
       </div>
    </div>
</section>