<section class="section recipes">
    <div class="recipes__container container">
        <h3 class="section__title">Las Mejores <span>Recetas</span></h3>
        <article class="recipes__wrap">
            <div class="recipes__wrap--best">
                <img src="../../../../../assets/icons/recipes-card.png" alt="recipes-card" class="recipes__img">
                <div class="recipes__wrap--body">
                    <div class="recipes__wrap--title">
                        <h4>Name of dishes</h4>
                        <div class="recipes__wrap--quantity">
                            <img src="../../../../../assets/icons/heart.svg" alt="heart">
                            <span>289</span>
                        </div>
                    </div>
                    <div class="recipes__wrap--mins">
                        <img src="../../../../../assets/icons/clock.svg" alt="clock">
                        <span>30 min</span>
                    </div>
                    <div class="recipes__wrap--user">
                        <img src="../../../../../assets/icons/avatar.svg" alt="user" class="">
                        <span>Juan delgadillo</span>
                    </div>
                </div>
            </div>
            <div class="recipes__wrap--best">
                <img src="../../../../../assets/icons/recipes-card.png" alt="recipes-card" class="recipes__img">
                <div class="recipes__wrap--body">
                    <div class="recipes__wrap--title">
                        <h4>Name of dishes</h4>
                        <div class="recipes__wrap--quantity">
                            <img src="../../../../../assets/icons/heart.svg" alt="heart">
                            <span>289</span>
                        </div>
                    </div>
                    <div class="recipes__wrap--mins">
                        <img src="../../../../../assets/icons/clock.svg" alt="clock">
                        <span>30 min</span>
                    </div>
                    <div class="recipes__wrap--user">
                        <img src="../../../../../assets/icons/avatar.svg" alt="user" class="">
                        <span>Juan delgadillo</span>
                    </div>
                </div>
            </div>
            <div class="recipes__wrap--best">
                <img src="../../../../../assets/icons/recipes-card.png" alt="recipes-card" class="recipes__img">
                <div class="recipes__wrap--body">
                    <div class="recipes__wrap--title">
                        <h4>Name of dishes</h4>
                        <div class="recipes__wrap--quantity">
                            <img src="../../../../../assets/icons/heart.svg" alt="heart">
                            <span>289</span>
                        </div>
                    </div>
                    <div class="recipes__wrap--mins">
                        <img src="../../../../../assets/icons/clock.svg" alt="clock">
                        <span>30 min</span>
                    </div>
                    <div class="recipes__wrap--user">
                        <img src="../../../../../assets/icons/avatar.svg" alt="user" class="">
                        <span>Juan delgadillo</span>
                    </div>
                </div>
            </div>
            <div class="recipes__wrap--best">
                <img src="../../../../../assets/icons/recipes-card.png" alt="recipes-card" class="recipes__img">
                <div class="recipes__wrap--body">
                    <div class="recipes__wrap--title">
                        <h4>Name of dishes</h4>
                        <div class="recipes__wrap--quantity">
                            <img src="../../../../../assets/icons/heart.svg" alt="heart">
                            <span>289</span>
                        </div>
                    </div>
                    <div class="recipes__wrap--mins">
                        <img src="../../../../../assets/icons/clock.svg" alt="clock">
                        <span>30 min</span>
                    </div>
                    <div class="recipes__wrap--user">
                        <img src="../../../../../assets/icons/avatar.svg" alt="user" class="">
                        <span>Juan delgadillo</span>
                    </div>
                </div>
            </div>
            <div class="recipes__wrap--best">
                <img src="../../../../../assets/icons/recipes-card.png" alt="recipes-card" class="recipes__img">
                <div class="recipes__wrap--body">
                    <div class="recipes__wrap--title">
                        <h4>Name of dishes</h4>
                        <div class="recipes__wrap--quantity">
                            <img src="../../../../../assets/icons/heart.svg" alt="heart">
                            <span>289</span>
                        </div>
                    </div>
                    <div class="recipes__wrap--mins">
                        <img src="../../../../../assets/icons/clock.svg" alt="clock">
                        <span>30 min</span>
                    </div>
                    <div class="recipes__wrap--user">
                        <img src="../../../../../assets/icons/avatar.svg" alt="user" class="">
                        <span>Juan delgadillo</span>
                    </div>
                </div>
            </div>
            <div class="recipes__wrap--best">
                <img src="../../../../../assets/icons/recipes-card.png" alt="recipes-card" class="recipes__img">
                <div class="recipes__wrap--body">
                    <div class="recipes__wrap--title">
                        <h4>Name of dishes</h4>
                        <div class="recipes__wrap--quantity">
                            <img src="../../../../../assets/icons/heart.svg" alt="heart">
                            <span>289</span>
                        </div>
                    </div>
                    <div class="recipes__wrap--mins">
                        <img src="../../../../../assets/icons/clock.svg" alt="clock">
                        <span>30 min</span>
                    </div>
                    <div class="recipes__wrap--user">
                        <img src="../../../../../assets/icons/avatar.svg" alt="user" class="">
                        <span>Juan delgadillo</span>
                    </div>
                </div>
            </div>
            <div class="recipes__wrap--best">
                <img src="../../../../../assets/icons/recipes-card.png" alt="recipes-card" class="recipes__img">
                <div class="recipes__wrap--body">
                    <div class="recipes__wrap--title">
                        <h4>Name of dishes</h4>
                        <div class="recipes__wrap--quantity">
                            <img src="../../../../../assets/icons/heart.svg" alt="heart">
                            <span>289</span>
                        </div>
                    </div>
                    <div class="recipes__wrap--mins">
                        <img src="../../../../../assets/icons/clock.svg" alt="clock">
                        <span>30 min</span>
                    </div>
                    <div class="recipes__wrap--user">
                        <img src="../../../../../assets/icons/avatar.svg" alt="user">
                        <span>Juan delgadillo</span>
                    </div>
                </div>
            </div>
            <div class="recipes__wrap--best">
                <img src="../../../../../assets/icons/recipes-card.png" alt="icons/recipes-card" class="recipes__img">
                <div class="recipes__wrap--body">
                    <div class="recipes__wrap--title">
                        <h4>Name of dishes</h4>
                        <div class="recipes__wrap--quantity">
                            <img src="../../../../../assets/icons/heart.svg" alt="heart">
                            <span>289</span>
                        </div>
                    </div>
                    <div class="recipes__wrap--mins">
                        <img src="../../../../../assets/icons/clock.svg" alt="clock">
                        <span>30 min</span>
                    </div>
                    <div class="recipes__wrap--user">
                        <img src="../../../../../assets/icons/avatar.svg" alt="user" class="">
                        <span>Juan delgadillo</span>
                    </div>
                </div>
            </div>
            <div class="recipes__wrap--best">
                <img src="../../../../../assets/icons/recipes-card.png" alt="icons/recipes-card" class="recipes__img">
                <div class="recipes__wrap--body">
                    <div class="recipes__wrap--title">
                        <h4>Name of dishes</h4>
                        <div class="recipes__wrap--quantity">
                            <img src="../../../../../assets/icons/heart.svg" alt="heart">
                            <span>289</span>
                        </div>
                    </div>
                    <div class="recipes__wrap--mins">
                        <img src="../../../../../assets/icons/clock.svg" alt="clock">
                        <span>30 min</span>
                    </div>
                    <div class="recipes__wrap--user">
                        <img src="../../../../../assets/icons/avatar.svg" alt="user" class="">
                        <span>Juan delgadillo</span>
                    </div>
                </div>
            </div>
            <div class="recipes__wrap--best">
                <img src="../../../../../assets/icons/recipes-card.png" alt="icons/recipes-card" class="recipes__img">
                <div class="recipes__wrap--body">
                    <div class="recipes__wrap--title">
                        <h4>Name of dishes</h4>
                        <div class="recipes__wrap--quantity">
                            <img src="../../../../../assets/icons/heart.svg" alt="heart">
                            <span>289</span>
                        </div>
                    </div>
                    <div class="recipes__wrap--mins">
                        <img src="../../../../../assets/icons/clock.svg" alt="clock">
                        <span>30 min</span>
                    </div>
                    <div class="recipes__wrap--user">
                        <img src="../../../../../assets/icons/avatar.svg" alt="user" class="">
                        <span>Juan delgadillo</span>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>