@import '/src/app/stylesConfig/stylesConfig.scss';

// :host{
//   flex-grow: 2;
//   display: flex;
//   flex-direction: column;
//   background-color: $colBg;
//   // position: relative;
// }
.section {
  padding: 7rem 0 3rem;
}

.recipe {
  margin-top:2rem;
  &__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

// .recipeContainer {
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   gap: 2rem 0;
//   justify-items: center;

//   @media screen and (min-width:750px) {
//     gap: 2rem;
//   }
// }

.createListBtn {
  all: initial;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: changeOpacity($colBlack, .7);
  backdrop-filter: blur(5px);
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0.5rem;
  color: $colBg;
  cursor: pointer;
  transform: scale(0.8);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  @include transitionFast;

  &:hover {
    transform: scale(1);
  }
}

@media screen and (min-width:1000px) {
  .recipeContainer>app-recipe-card {
    grid-column: span 4;
  }
}