<app-search-box [btnRedirection]="'crear receta'"></app-search-box>
<div class="recipeContainer">
  <app-recipe-card [recipeCommunity]="false"></app-recipe-card>
  <app-recipe-card [recipeCommunity]="false"></app-recipe-card>
  <app-recipe-card [recipeCommunity]="false"></app-recipe-card>
  <app-recipe-card [recipeCommunity]="false"></app-recipe-card>
  <app-recipe-card [recipeCommunity]="false"></app-recipe-card>
  <app-recipe-card [recipeCommunity]="false"></app-recipe-card>
  <app-recipe-card [recipeCommunity]="false"></app-recipe-card>
</div>
