<section class="details section">
    <div class="details__container">
        <header class="header">
            <div class="header__wrap">
                <h2 class="header__wrap--text">Calamares en su tinta</h2>
                <div class="header__wrap--quantity">
                    <img src="../../../assets/icons/heart.svg" alt="heart">
                    <p class="header__quantity--text">289</p>
                </div>
            </div>
            <div class="header__subheader">
                <div class="header__subheader--content">
                    <div class="header__subheader--user">
                        <img src="../../../assets/icons/avatar.svg" alt="avatar" class="comments-img">
                        <p class="header__subheader--user__text">Juanito alimaña navaja</p>
                    </div>
                    <div class="header__subheader--content__calendar">
                        <img src="../../../assets/icons/calendar.svg" alt="calendar"
                            class="header__subheader--calendar">
                        <p class="header__subheader--text">Viernes 13 de Diciembre</p>
                    </div>
                </div>
                <ul class="header__subheader--dishes">
                    <li class="header__subheader--dishes__items">
                        <p>Prep.</p>
                        <span>10 min</span>
                    </li>
                    <shared-divider></shared-divider>
                    <li class="header__subheader--dishes__items">
                        <p>Cocinar</p>
                        <span>30 min</span>
                    </li>
                    <shared-divider></shared-divider>
                    <li class="header__subheader--dishes__items">
                        <p>Cantidad</p>
                        <span>4 personas</span>
                    </li>
                    <shared-divider></shared-divider>
                    <li class="header__subheader--dishes__items">
                        <p>Categoria</p>
                        <span>Ensalada</span>
                    </li>
                </ul>
            </div>
            <div class="header__btns">
                <button type="button" class="header__btns--primary">
                    <img src="../../../assets/icons/book-mark.svg" alt="book-mark" class="header__btns--actions">
                    Guarda la receta</button>
                <!-- <div class="header__btns--group"> -->
                <img src="../../../assets/icons/heart-solid.svg" alt="header" class="header__btns--actions">
                <!-- </div> -->
            </div>
        </header>
        <section>
            <div class="details__info">
                <img src="../../../assets/foodieDetails.webp" alt="foodhero2" class="details__info--img">
            </div>
        </section>

        <section class="instructions">
            <article class="instructions__wrap">
                <h3 class="instructions__wrap--title">Ingredientes</h3>
                <ul class="instructions__wrap--list">
                    <li class="instructions__wrap--items">
                        <div class="instructions__wrap--items__name">
                            <img src="../../../assets/icons/list-item-ingredients.svg" alt="list-item-ingredients">
                            <p>calamar</p>
                        </div>
                        <span>3grs</span>
                    </li>
                    <li class="instructions__wrap--items">
                        <div class="instructions__wrap--items__name">
                            <img src="../../../assets/icons/list-item-ingredients.svg" alt="list-item-ingredients">
                            <p>calamar</p>
                        </div>
                        <span>3grs</span>
                    </li>
                    <li class="instructions__wrap--items">
                        <div class="instructions__wrap--items__name">
                            <img src="../../../assets/icons/list-item-ingredients.svg" alt="list-item-ingredients">
                            <p>calamar</p>
                        </div>
                        <span>3grs</span>
                    </li>
                    <li class="instructions__wrap--items">
                        <div class="instructions__wrap--items__name">
                            <img src="../../../assets/icons/list-item-ingredients.svg" alt="list-item-ingredients">
                            <p>calamar</p>
                        </div>
                        <span>3grs</span>
                    </li>
                    <li class="instructions__wrap--items">
                        <div class="instructions__wrap--items__name">
                            <img src="../../../assets/icons/list-item-ingredients.svg" alt="list-item-ingredients">
                            <p>calamar</p>
                        </div>
                        <span>3grs</span>
                    </li>
                    <li class="instructions__wrap--items">
                        <div class="instructions__wrap--items__name">
                            <img src="../../../assets/icons/list-item-ingredients.svg" alt="list-item-ingredients">
                            <p>calamar</p>
                        </div>
                        <span>3grs</span>
                    </li>
                </ul>
            </article>
            <article class="instructions__preparation">
                <h3 class="instructions__preparation--title">Preparación</h3>
                <ul class="instructions__preparation--list">
                    <li class="instructions__preparation--item">
                        <p class="instructions__preparation--text"> Lorem ipsum dolor sit amet consectetur. Consequat
                            lobortis et neque orci risus. Feugiat integer faucibus fermentum porta magna. Mauris quis
                            suspendisse varius sit consectetur eu ullamcorper quam habitasse. </p>
                    </li>
                    <li class="instructions__preparation--item">
                        <p class="instructions__preparation--text">Senectus feugiat tincidunt egestas quam lacus egestas
                            in augue feugiat. Velit pretium tellus ut adipiscing elementum mauris. Laoreet sit elementum
                            viverra non orci vel non tempus. Facilisis vitae neque quis dictum iaculis. </p>
                    </li>
                    <li class="instructions__preparation--item">
                        <p class="instructions__preparation--text">Volutpat iaculis phasellus eget fermentum.
                            Scelerisque neque sed malesuada blandit sit. Porta velit morbi in tempor sit. Vulputate sed
                            pulvinar malesuada tortor amet odio nec risus.</p>
                    </li>
                    <li class="instructions__preparation--item">
                        <p class="instructions__preparation--text">Dolor tellus nibh posuere turpis placerat purus
                            feugiat auctor suspendisse. Tempus sed ultricies consectetur netus et. Sollicitudin pretium
                            lectus odio a eleifend. </p>
                    </li>
                    <li class="instructions__preparation--item">
                        <p class="instructions__preparation--text">
                            Ut nisl viverra viverra sem. Erat vel neque ac maecenas a egestas laoreet. Venenatis justo
                            pretium nullam ornare amet blandit faucibus eleifend eu. Pretium urna pretium faucibus
                            vulputate quisque vitae.
                        </p>
                    </li>
                    <li class="instructions__preparation--item">
                        <p class="instructions__preparation--text">
                            Convallis id placerat non odio nulla habitasse sed pellentesque. Urna scelerisque non
                            maecenas fermentum scelerisque facilisis scelerisque odio. Iaculis risus consequat pulvinar
                            aliquet augue aliquet risus leo orci. Viverra eu in non viverra eu lacinia.
                        </p>
                    </li>
                    <li class="instructions__preparation--item">
                        <p class="instructions__preparation--text">
                            Sit ullamcorper nisl porttitor nunc tempus in faucibus ut. Pellentesque in neque aenean
                            porttitor risus.
                        </p>
                    </li>
                </ul>
            </article>
        </section>
        <section class="comments">
            <h3 class="comments__title">Comentarios(5)</h3>
            <div class="comments__wrap">
                <div class="comments__wrap--content">
                    <div class="comments__wrap--content__user">
                        <img src="../../../assets/icons/avatar.svg" alt="avatar" class="comments-img">
                        <span class="comments__wrap--user__text">Juanito Alimaña</span>
                    </div>
                    <p class="comments__wrap--text">Excelente receta, especialmente para las personas que buscan una
                        vida saludable </p>
                </div>
                <div class="comments__wrap--content">
                    <div class="comments__wrap--content__user">
                        <img src="../../../assets/icons/avatar.svg" alt="avatar" class="comments-img" >
                        <span class="comments__wrap--user__text">Juanito Alimaña</span>
                    </div>
                    <p class="comments__wrap--text">Excelente receta, especialmente para las personas que buscan una
                        vida saludable </p>
                </div>
                <div class="comments__wrap--content">
                    <div class="comments__wrap--content__user">
                        <img src="../../../assets/icons/avatar.svg" alt="avatar" class="comments-img">
                        <span class="comments__wrap--user__text">Juanito Alimaña</span>
                    </div>
                    <p class="comments__wrap--text">Excelente receta, especialmente para las personas que buscan una
                        vida saludable </p>
                </div>
                <div class="comments__wrap--content">
                    <div class="comments__wrap--content__user">
                        <img src="../../../assets/icons/avatar.svg" alt="avatar" class="comments-img">
                        <span class="comments__wrap--user__text">Juanito Alimaña</span>
                    </div>
                    <p class="comments__wrap--text">Excelente receta, especialmente para las personas que buscan una
                        vida saludable </p>
                </div>
            </div>
        </section>
    </div>
</section>