@import '/src/app/stylesConfig/stylesConfig.scss';
@import '/src/assets/scss/media-queries/media-queries';
// :host{
//   display: block;
//   flex-grow: 2;
// }

.section {
    padding: 7rem 0 2rem;
}

.details__container {
    max-width: 1060px;
    margin: 0 auto;
}

/*========== HEADER ==========*/
.header {
    font-family: 'Poppins', sans-serif;

    &__wrap {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        margin-bottom: 0.9375rem;

        @include tablet {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        &--text {
            font-size: 1.5rem;
            text-align: center;
            font-family: 'Poppins', sans-serif;

            @include tablet {
                font-size: 2rem;
                text-align: initial;
            }
        }

        &--quantity {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.3125rem;

            @include tablet {
                justify-content: flex-start;
            }

            img {
                width: 16px;
                height: 16px;
            }

            p {
                font-size: 13px;
                text-align: center;
                font-weight: 600;
                color: #FF0000;
            }
        }
    }

    &__subheader {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1.875rem;
        width: 100%;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 0;
        }

        &--content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.75rem;

            &__calendar {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 0.625rem;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        &--user {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.625rem;

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }

            &__text {
                font-size: 14px;
            }
        }

        &--dishes {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 1.5625rem;

            &__items {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.625rem;

                p {
                    font-size: 14px;
                    font-weight: 500;
                }

                span {
                    font-size: 12px;
                    color: #6A6969;
                }
            }
        }
    }

    &__btns {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.25rem;
        margin-bottom: 1.875rem;

        &--primary {
            @include btnStyle($colBag: $colPrime, $colFont: $colBg);
            border-radius: 10px;
            padding: 1rem 1rem;
            width: 201px;
            height: 54px;
            box-shadow: none;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.9375rem;
            font-size: 0.875rem;
            cursor: pointer;
        }

        &--actions {
            &:nth-child(2) {
                border: 1px solid #E5E5E5;
                border-radius: 50%;
                padding: 0.5625rem;
            }
        }
    }
}

.details {
    &__info {
        margin-bottom: 2rem;

        &--img {
            width: 100%;
            max-width: 100%;
            margin-bottom: 0.75rem;
            border-radius: 1rem;
        }
    }
}

.instructions {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    margin-bottom: 2.5rem;

    &__wrap {
        background-color: $colBg;
        padding: 1.25rem;
        border-radius: 10px;
        height: 100%;
        &--title {
            font-size: 1.125rem;
            text-align: flex-start;
            margin-bottom: 3rem;
            font-family: 'Poppins', sans-serif;
        }

        &--list {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include tablet {
                width: 350px;
                gap: 1.5rem;
            }

        }

        &--items {
            display: flex;
            justify-content: space-between;
            align-items: center;


            &__name {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
            }
        }

    }

    &__preparation {
        background-color: $colBg;
        padding: 1.25rem;
        border-radius: 10px;
        &--title{
            font-size: 1.125rem;
            text-align: flex-start;
            margin-bottom: 3rem;
            font-family: 'Poppins', sans-serif;
        }
        &--list {
            list-style-type: decimal;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 0 0 2rem 1rem;
        }

        &--text {
            line-height: 1.4;
        }
    }
}
.comments{
    &__title{
        font-size: 1.5rem;
        text-align: flex-start;
        margin-bottom: 3rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    &__wrap{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        margin-bottom: 2.5rem;
        &--content{
            border: 1px solid #E5E5E5;
            border-radius: 10px;
            padding: 0.625rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: 0.625rem;
            &__user{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 0.625rem;
                span{
                    font-size: 16px;
                    font-weight: 500;
                }
            }
            p{
                font-size: 14px;
                color:#535353;
            }
        }
    }
}
.comments-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}