<section class="details section">
    <div class="container">
        <h2 class="details__title">Calamares en su tinta</h2>
        <article class="details__header">
            <div class="details__header--content">
                <p class="details__header--letter">J</p>
                <p class="details__header--text">Juanito alimaña navaja</p>
            </div>
            <div class="details__header--content">
                <img src="../../../assets/icons/calendar.svg" alt="calendar" class="details__header--calendar">
                <p class="details__header--text">Viernes 13 de Diciembre</p>
            </div>
            <div class="details__header--rating">
                <img src="../../../assets/star-icon.svg" alt="star-icon" class="details__header--star">
                <img src="../../../assets/star-icon.svg" alt="star-icon" class="details__header--start">
                <img src="../../../assets/star-icon.svg" alt="star-icon" class="details__header--start">
                <img src="../../../assets/star-icon.svg" alt="star-icon" class="details__header--start">
                <img src="../../../assets/star-icon.svg" alt="star-icon" class="details__header--start">
            </div>
        </article>
        <article class="details__info">
            <img src="../../../assets/foodhero2.webp" alt="foodhero2" class="details__info--img">
            <div class="details__info--quantity">
                <div class="details__info--data">
                    <p>Porciones</p>
                    <span>4 personas</span>
                </div>
                <div class="details__info--data">
                    <p>Tiempo de cocina</p>
                    <span>30 minutos</span>
                </div>
                <div class="details__info--data">
                    <p>Porciones</p>
                    <span>4 personas</span>
                </div>
                <div class="details__info--data">
                    <button class=" details__info--button">importar</button>
                    <img src="../../../assets/icons/heart.svg" alt="heart" class="details__info--heart">
                </div>
            </div>
        </article>
        <article class="details__recipe">
            <div class="details__ingredients">
                <h3 class="details__ingredients--title">Ingredientes</h3>
                <ul class="details__ingredients--list">
                    <li class="details__ingredients--items">
                        <div class="details__ingredients--items__name">
                            <img src="../../../assets/icons/list-item-ingredients.svg" alt="list-item-ingredients">
                            <p>calamar</p>
                        </div>
                        <span>{{ 20 | currency:'USD':'symbol-narrow'}}</span>
                    </li>
                    <li class="details__ingredients--items">
                        <div class="details__ingredients--items__name">
                            <img src="../../../assets/icons/list-item-ingredients.svg" alt="list-item-ingredients">
                            <p>calamar</p>
                        </div>
                        <span>{{ 20 | currency:'USD':'symbol-narrow'}}</span>
                    </li>
                    <li class="details__ingredients--items">
                        <div class="details__ingredients--items__name">
                            <img src="../../../assets/icons/list-item-ingredients.svg" alt="list-item-ingredients">
                            <p>calamar</p>
                        </div>
                        <span>{{ 20 | currency:'USD':'symbol-narrow'}}</span>
                    </li>
                    <li class="details__ingredients--items">
                        <div class="details__ingredients--items__name">
                            <img src="../../../assets/icons/list-item-ingredients.svg" alt="list-item-ingredients">
                            <p>calamar</p>
                        </div>
                        <span>{{ 20 | currency:'USD':'symbol-narrow'}}</span>
                    </li>
                    <li class="details__ingredients--items">
                        <div class="details__ingredients--items__name">
                            <img src="../../../assets/icons/list-item-ingredients.svg" alt="list-item-ingredients">
                            <p>calamar</p>
                        </div>
                        <span>{{ 20 | currency:'USD':'symbol-narrow'}}</span>
                    </li>
                    <li class="details__ingredients--items">
                        <div class="details__ingredients--items__name">
                            <img src="../../../assets/icons/list-item-ingredients.svg" alt="list-item-ingredients">
                            <p>calamar</p>
                        </div>
                        <span>{{ 20 | currency:'USD':'symbol-narrow'}}</span>
                    </li>
                </ul>
            </div>
            <div class="details__preparation">
                <h3 class="details__ingredients--title">Preparación</h3>
                <div>
                    <ul class="details__preparation--list">
                        <li class="details__preparation--item">
                            <p class="details__preparation--text"> Lorem ipsum dolor, sit amet consectetur adipisicing
                                elit. Voluptatibus explicabo accusantium quisquam ex, velit officiis est nemo
                                reprehenderit repellat eum incidunt alias numquam aliquam, odio, cupiditate sed
                                quibusdam eius unde.</p>
                        </li>
                        <li class="details__preparation--item">
                            <p class="details__preparation--text">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Minima quod ad, dicta laborum, totam molestiae ipsum placeat illo minus atque
                                autem dolores nemo voluptatem dignissimos reiciendis sint quaerat labore dolor?</p>
                        </li>
                        <li class="details__preparation--item">
                            <p class="details__preparation--text">Lorem ipsum dolor sit, amet consectetur adipisicing
                                elit. Fugiat, cum ratione quod eligendi architecto eaque esse autem consequatur dolorem
                                alias eum in ullam harum debitis accusamus atque aperiam animi modi!</p>
                        </li>
                        <li class="details__preparation--item">
                            <p class="details__preparation--text">Lorem ipsum dolor sit amet consectetur, adipisicing
                                elit. Animi iusto amet sint autem. Optio et, repellat nemo maiores consequuntur possimus
                                quam laborum sed doloremque! Hic fuga quisquam at laudantium magnam?</p>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</section>