<div class="container">
  <form class="form" (ngSubmit)="onSubmit()">
    <div class="form__box">
      <input name="fieldSearch" [(ngModel)]="fieldSearch" type="text" class="form__box--input"
        placeholder="¿Que estas buscando? ">
      <button type="submit" class="form__box--btn">
        <img src="assets/search-icon.svg" alt="search-icon">
      </button>
    </div>
    <select class="form__box--input" name="selectedCategory" [(ngModel)]="selectedCategory">
      <option value="categoria" selected>Selecciona una categoria</option>
      <option *ngFor="let category of categories">{{category}}</option>
    </select>
    <a class="form__redirect" [routerLink]="[redirectTo()]">{{btnRedirection}}</a>
  </form>
  <div class="search">
    <p class="search__results">Tienes {{sizeRecipes}} recetas para encontrar</p>
  </div>
</div>