@import '/src/app/stylesConfig/stylesConfig.scss';
@import '../../../assets//scss/media-queries/_media-queries.scss';

:host {
    flex-grow: 2;
    display: grid;

}

.section {
    padding: 7rem 0 2rem;
}

.home {
    background-image: url(../../../assets/foodhero2-2.webp);
    background-position: -335px center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;

    // opacity: 0.5;
    @include tablet {
        background-position: center top;
    }

    // &::before {
    //     content: '';
    //     background-color: $colBlack;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;
    //     opacity: 0.6;
    // }

    &__container {
        position: relative;
    }

    &__wrap {
        color: $colThird;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 235px);

        @include tablet {
            align-items: flex-start;
        }

        &--title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            @include tablet {
                align-items: flex-start;
            }
        }

        &--text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.25rem;
            // color: $colWhite;

            @include tablet {
                align-items: flex-start;
            }

            h1 {
                font-size: 3.25rem;
                font-family: 'Oleo Script Swash Caps';
            }

            p {
                text-align: center;
                font-size: 1.25rem;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;

                @include tablet {
                    font-size: 1.625rem;

                }
            }
        }

        &--button {
            @include btnStyle();
            font-size: 16px;
            box-shadow: none;
            padding: 0.625rem 1.5rem;
            width: 154xpx;

            @include tablet {
                width: 254px;
            }
        }
    }


}
