<main>
    <section class="section home">
        <div class="home__container container">
            <div class="home__wrap">
                <div class="home__wrap--title">
                    <div class="home__wrap--text">
                        <h1>Foodie List</h1>
                        <p>Despierta tus sentidos, comparte tus sabores.</p>
                    </div>
                    <button type="button" class="home__wrap--button">
                        Empezar
                    </button>
                </div>
            </div>
        </div>
    </section>
    <app-categories></app-categories>
    <app-best-recipes></app-best-recipes>
    <app-about></app-about>
</main>
