<main>
    <section class="section home">
        <div class="home__container container">
            <div class="home__wrap">
                <div class="home__wrap--title">
                    <div class="home__wrap--text">
                        <h1>Foodie List</h1>
                        <p>Despierta tus sentidos, comparte tus sabores.</p>
                    </div>
                    <button type="button" class="home__wrap--button">
                        Empezar
                    </button>
                </div>
            </div>
        </div>
    </section>
    <app-categories></app-categories>
    <app-best-recipes></app-best-recipes>
</main>
<!-- <div class="home">
  <div class="home__box">
    <h1>Foodie List</h1>
    <h3>Despierta tus sentidos, comparte tus sabores</h3>
    <button (click)="redirectFromHome()" type="button">Empezar</button>
  </div>
</div>
<div id="about" class="about">
  <h2 class="about__title">Nosotros</h2>
  <div class="about__box">
    <div class="about__box__stripe green">
      <img src="assets/aboutPic1.jpg" alt="about_pic">
    </div>
    <p class="about__box__paragraph">
      ¡Bienvenidos a FoodieList! Somos una comunidad apasionada por la cocina y la creatividad culinaria. En FoodieList,
      nuestra misi&oacute;n es ofrecerte una plataforma donde puedas compartir tus recetas personales y explorar las
      creaciones culinarias de otros entusiastas como t&uacute;.
    </p>
  </div>
  <div class="about__box">
    <div class="about__box__stripe brown">
      <img src="assets/aboutPic2.jpg" alt="about_pic">
    </div>
    <p class="about__box__paragraph">
      ¿Qué nos hace especiales? Adem&aacute;s de ser un espacio para guardar tus recetas favoritas, somos tu aliado para
      simplificar tus compras. Imagina poder generar una lista de ingredientes basada en m&uacute;ltiples recetas
      seleccionadas, ¡facilit&acute;ndote el proceso de compra en el supermercado! Estamos aqu&iacute; para hacer de la
      cocina una experiencia m&aacute;s pr&aacute;ctica y emocionante para ti. ¡&Uacute;nete a nuestra comunidad de
      amantes de la cocina y simplifica tu vida culinaria!.
    </p>
  </div>
</div> -->