<section class="section">
    <app-search-box [btnRedirection]="'Mis recetas'"></app-search-box>
    <div class="recipe container">
        <article class="recipe__content">
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
            <app-recipe-card></app-recipe-card>
        </article>
        <aside class="recipe__aside">
            <div class="recipe__aside--content">
                <div class="recipe__aside--content__header">
                    <h4>Mas seguidos</h4>
                </div>
                <div class="recipe__aside--content__body">
                    <app-recipe-mini-card></app-recipe-mini-card>
                    <app-recipe-mini-card></app-recipe-mini-card>
                    <app-recipe-mini-card></app-recipe-mini-card>
                    <app-recipe-mini-card></app-recipe-mini-card>
                    <app-recipe-mini-card></app-recipe-mini-card>
                </div>
            </div>
            <div class="recipe__aside--content">
                <div class="recipe__aside--content__header">
                    <h4>Recomendaciones</h4>
                </div>
                <div class="recipe__aside--content__body">
                    <app-recipe-mini-card></app-recipe-mini-card>
                    <app-recipe-mini-card></app-recipe-mini-card>
                    <app-recipe-mini-card></app-recipe-mini-card>
                    <app-recipe-mini-card></app-recipe-mini-card>
                    <app-recipe-mini-card></app-recipe-mini-card>
                </div>
            </div>
        </aside>
    </div>
    <!-- 
<div class="recipeContainer">
 
  <app-recipe-card></app-recipe-card>
  <app-recipe-card></app-recipe-card>
  <app-recipe-card></app-recipe-card>
  <app-recipe-card></app-recipe-card>
  <app-recipe-card></app-recipe-card>
  <app-recipe-card></app-recipe-card>
</div>
<div class="communityContainer">
  <div class="mostLike">
    <div class="mostLike__header">
      <h4>Mas seguidos</h4>
      <img src="assets/star-icon.svg" alt="star-icon">
    </div>
    <div class="mostLike__recipes">
      <app-recipe-mini-card></app-recipe-mini-card>
      <app-recipe-mini-card></app-recipe-mini-card>
      <app-recipe-mini-card></app-recipe-mini-card>
      <app-recipe-mini-card></app-recipe-mini-card>
      <app-recipe-mini-card></app-recipe-mini-card>
    </div>
  </div>
  <div class="recommendations">
    <div class="recommendations__header">
      <h4>Recomendaciones</h4>
      <img src="assets/star-icon.svg" alt="star-icon">
    </div>
    <div class="recommendations__recipes">
      <app-recipe-mini-card></app-recipe-mini-card>
      <app-recipe-mini-card></app-recipe-mini-card>
      <app-recipe-mini-card></app-recipe-mini-card>
      <app-recipe-mini-card></app-recipe-mini-card>
      <app-recipe-mini-card></app-recipe-mini-card>
    </div>
  </div>
</div> -->

</section>