:host{
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}
.recipeContainer{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  padding: 1rem 1.5rem;
  gap: 2rem;
  justify-items: center;
}
.communityContainer{
  padding: 1rem 2rem;
  .mostLike, .recommendations{
    padding-inline: 0.5rem;
    background-color: white;
    margin-bottom: 1rem;

    &__header{
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      padding: 2rem 1rem;
    }
    &__recipes{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
  @media screen and (min-width:750px) {
    display: flex;
    .mostLike, .recommendations{flex-grow: 2;}
  }
}

@media screen and (min-width:1000px) {
  :host{
    display: grid;
    grid-template-columns: repeat(12,1fr);
  }
  .recipeContainer{
    grid-column: span 8;
  }
  .communityContainer{
    grid-column: span 4;
    display: block;
  }
}
@media screen and (min-width:1250px) {
  .recipeContainer{
    grid-column: span 9;
  }
  .communityContainer{
    grid-column: span 3;
  }
}
