<header class="header" [ngClass]="  scrolled ? 'scrolled' : ''">
    <nav class="nav container">
        <div class="nav__logo">
            <a class="nav__logo--text" [routerLink]="['/home']" >
                <img [src]=[iconCooking] alt="logo" class="nav__logo--img">
            </a>
        </div>
        <div class="overlay" (click)="closeMenu()" [ngClass]="showMenu ? 'show-overlay':''"></div>
        <div class="menu" [ngClass]="showMenu ? 'show-menu' : ''">
            <ul class="menu__list">
                <li class="menu__items" *ngFor="let data of navData" (click)="closeMenu()">
                    <a [routerLink]="[data.routerLink]" class="menu__link"
                        [ngClass]="scrolled ? 'scrolled-link':''">{{data.label}}</a>
                </li>
            </ul>
            <div class="menu__close">
                <button class="icons__items--link" type="button" (click)="closeMenu()">
                    <img src="assets/icons/close.svg" alt="close" class="icons__items--img">
                </button>
            </div>
        </div>
        <div class="icons">
            <ul class="icons__menu">
                <li class="icons__items dropdown">
                    <!-- <p>Juan reynaldo dosantos</p> -->
                    <button (click)="userRedirect()" type="button" class="icons__items--link dropdown__button">
                        <i class='bx bx-user icons__items--img'></i>

                    </button>
                    <!-- <ul class="dropdown__menu" >
                        <li class="dropdown__item">
                            <a
                                class="dropdown__menu--item dropdown__button--item">
                                Mi cuenta
                            </a>
                        </li>
                    </ul> -->
                </li>
                <li class="icons__toggle icons__items">
                    <button type="button" class="icons__items--link" (click)="toggleMenu()">
                        <i class="bx bx-menu-alt-right icons__items--img" [ngClass]="scrolled ? 'scrolled-user':''"></i>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</header>